# Data Science Tools and Ecosystem

## *In this notebook, Data Science Tools and Ecosystem are summarized.*

 **Objectives:**
 * lists of popular languages used in data science
 * List of commonly used libraries used by Data Scientists
 * A table containing open source Data Science tools
 * Examples of evaluation of arithmetic expressions using python

#### _Some of the popular languages that Data Scientists use are:_
1. Python
2. R
3. Julia

#### _Some of the commonly used libraries used by Data Scientists include:_
1. Numpy
2. Tensorflow
3. Pandas

|Data Science Tools |
|------------------ |
|RStudio |
|Apache Spark |
|Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [81]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [83]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Naol Teshome